
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 142.1 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 142.1 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 142.1 84% 4.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 138 62% 98%;
    --secondary: 138 62% 96%;
    --secondary-foreground: 142.1 84% 4.9%;
    --muted: 138 62% 96%;
    --muted-foreground: 142.4 16.3% 46.9%;
    --accent: 138 62% 96%;
    --accent-foreground: 142.1 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 138 62% 98%;
    --border: 142.3 31.8% 91.4%;
    --input: 142.3 31.8% 91.4%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --sidebar-background: 140 20% 98%;
    --sidebar-foreground: 140 5.3% 26.1%;
    --sidebar-primary: 142.1 76.2% 36.3%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 140 20% 95.9%;
    --sidebar-accent-foreground: 140 5.9% 10%;
    --sidebar-border: 140 13% 91%;
    --sidebar-ring: 142.1 76.2% 36.3%;
  }

  .dark {
    --background: 142.2 84% 4.9%;
    --foreground: 138 40% 98%;
    --card: 142.2 84% 4.9%;
    --card-foreground: 138 40% 98%;
    --popover: 142.2 84% 4.9%;
    --popover-foreground: 138 40% 98%;
    --primary: 142.1 91.2% 59.8%;
    --primary-foreground: 142.2 84% 4.9%;
    --secondary: 142.2 32.6% 17.5%;
    --secondary-foreground: 138 40% 98%;
    --muted: 142.2 32.6% 17.5%;
    --muted-foreground: 142 20.2% 65.1%;
    --accent: 142.2 32.6% 17.5%;
    --accent-foreground: 138 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 138 40% 98%;
    --border: 142.2 32.6% 17.5%;
    --input: 142.2 32.6% 17.5%;
    --ring: 144.3 76.3% 94.1%;
    --sidebar-background: 140 5.9% 10%;
    --sidebar-foreground: 140 4.8% 95.9%;
    --sidebar-primary: 144.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 140 3.7% 15.9%;
    --sidebar-accent-foreground: 140 4.8% 95.9%;
    --sidebar-border: 140 3.7% 15.9%;
    --sidebar-ring: 142.1 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}